body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* font-size: 10px; */
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif */
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

hr {
  border-style: none;
  border-top-style: dotted;
  /* border-color: grey; */
  border-color:  #4b778d;
  border-width: 5px;
  width: 3%;
  margin: 40px auto 40px auto;
}


h1 {
  /* width: 10%; */
  /* font-size: 90px; */
  /* font-size: 562.5%; */
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  /* line-height: 2; */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 50px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #f7f3e9;
  position: relative;
  padding: 80px;
}

.middle-container {
  background-color: #EAF6F6;
  margin-top: 0;
  padding: 60px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 0;
  padding: 80px;
}

.skill-row {
  width: 50%;
  margin: 60px auto 80px auto;
  text-align: left;
}

.computer-img {
  position: relative;
  float: left;
  width: 25%;
  margin-right: 40px;
}

.book1-img{
  position: relative;
  width: 25%;
  margin: 50px;
  padding: 20px;

}

.book2-img{
  position: relative;
  width: 25%;
  margin: 50px;
  padding: 20px;

}

/* .my-other-interests{
  clear: right;
  width: 50%;
  margin:60px auto 80px auto;
  text-align: left;

} */

.tennis-img {

  float: right;
  width: 17%;
  margin-right: 40px;

}

.profile-img {
  margin-bottom: 30px;
  padding-top: 30px;
  width: 15%;
}

.pro {
  text-decoration: underline;
}

.contact-message{
  width: 40%;
  margin: 40px auto;
}

.footer {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px;
}

.footer-link{
  margin-right: 25px;
  color: #798777;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.footer-link2{
color: #798777;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
 }


 /* .KnutHamsun-link{
   color: #798777;
   font-family: 'Montserrat', sans-serif;
   font-size: 0.75rem;
   text-decoration: none;
 } */
 /* .Bukovski-link{
   color: #798777;
   font-family: 'Montserrat', sans-serif;
   font-size: 0.75rem;
   text-decoration: none;

 } */




 a:hover{
   color:#464f41;
 }

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.btn {
  margin-top: 40px;
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -moz-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -ms-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -o-linear-gradient(top, #66BFBF, #1E62D0);
  background-image: -webkit-gradient(to bottom, #66BFBF, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
